#-----------------------------------------------------------
# Mac

*.DS_Store
#-----------------------------------------------------------

#-----------------------------------------------------------
# Datasets

datasets/
#-----------------------------------------------------------