#-----------------------------------------------------------
# Mac

*.DS_Store
#-----------------------------------------------------------

#-----------------------------------------------------------
# Python

.venv/
myenv/
#-----------------------------------------------------------

#-----------------------------------------------------------
# Datasets

datasets/
#-----------------------------------------------------------